<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sikderithub.viewsgrow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name=" com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="com.sikderithub.viewsgrow.utils.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YTMaster"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        tools:targetApi="31">
        <activity
            android:label="Create Sub Domain"
            android:theme="@style/Theme.YTMaster.ActionBar"
            android:name=".ui.create_subdomain.SubdomainCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.webview.GenericWebViewActivity"
            android:exported="false"
            android:label="@string/title_activity_generic_web_view"
            android:theme="@style/Theme.YTMaster.ActionBar" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.my_link.MyLinkActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName="com.sikderithub.viewsgrow.ui.profile.ProfileActivity"
            android:theme="@style/Theme.YTMaster.ActionBar" />

        <service
            android:name="com.sikderithub.viewsgrow.notification.NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.sikderithub.viewsgrow.ui.special_link.DomainCreateActivity"
            android:exported="false"
            android:label="Create Own Domain"
            android:launchMode="singleTask"
            android:parentActivityName="com.sikderithub.viewsgrow.ui.main.MainActivity"
            android:theme="@style/Theme.YTMaster.ActionBar" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.channel_list.ChannelListActivity"
            android:exported="false"
            android:label="Channels"
            android:launchMode="singleTask"
            android:parentActivityName="com.sikderithub.viewsgrow.ui.main.MainActivity"
            android:theme="@style/Theme.YTMaster.ActionBar" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.all_link.AllLinkActivity"
            android:exported="false"
            android:label="Videos"
            android:launchMode="singleTop"
            android:parentActivityName="com.sikderithub.viewsgrow.ui.main.MainActivity"
            android:theme="@style/Theme.YTMaster.ActionBar" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.profile.ProfileActivity"
            android:exported="false"
            android:label="Profile"
            android:launchMode="singleTask"
            android:parentActivityName="com.sikderithub.viewsgrow.ui.main.MainActivity"
            android:theme="@style/Theme.YTMaster.ActionBar" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.generate_link.GenerateLinkActivity"
            android:exported="false" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.userdetails.UserDetailsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.introduction.IntroductionActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.sikderithub.viewsgrow.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.YTMasterNoActionBar.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sikderithub.viewsgrow.ui.main.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>